.quiz-container {
  display: flex;
  flex-direction: row;
  height :100vh;
  overflow:hidden;
  margin-top: 64px;
}

.main-cont{
    display: flex !important;
    flex-direction: column;
    overflow: hidden;    
}


.main-content {

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  overflow: hidden;
 
}
 
.course-select {
  align-self: flex-start;
  margin-left:3%;
  margin-top:1%;
  margin-bottom: 16px;
 
}

.course-dropdown {
  min-width: 200px;
}
.line{
    height :0.5px;
    background:black;
    width:100%;
    margin: 0 0 20px 0;
}


.chart-container {
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  width: 50%;
  max-width: 900px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-bar{
    overflow: hidden;
}
body.no-scroll {
  overflow: hidden;
}



