
.sidebar {
  width: 250px;
  height: calc(100vh - 64px);  
  background: linear-gradient(180deg, #357ABD, #357ABD);
  color: #EFEFEF;
  display: flex;
  flex-direction: column;
  padding: 0px 16px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
}

.sidebar-title {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
  font-size: 20px;
  margin: 0;
}
.sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  overflow-y:hidden;
  text-transform: capitalize;
  padding: 0px 16px;
}

.sidebar.closed {
  width: 60px; 
}

.sidebar-list::-webkit-scrollbar {
  width: 6px;  
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
   border-bottom: 2px solid rgba(255, 255, 255, 0.3);
   margin-bottom: 0px;
   padding-bottom:16px;
   position:relative;
   font-family: "Montserrat", sans-serif !important;
}

.student-name {
  padding: 0px 16px;
}

.sidebar-list::-webkit-scrollbar-thumb {
  background-color: rgba(245, 235, 235, 0.575); 
  border-radius: 3px;                    
}

.sidebar-list::-webkit-scrollbar-track {
  background: transparent;              
}

.menu-btn {
  color: #fff!important;
  position:relative;
  cursor: pointer;
  margin-top:13px;

}

.sidebar-item{
  padding: 0px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.sidebar-item:hover {
  background: whitesmoke !important;
  color: #0033A0 !important; 

}
.sidebar-item .MuiTypography-root {
  font-weight: 600 !important;
  font-family: "Montserrat", sans-serif !important;
}

.sidebar-item.active {
  background: white !important;
  color: #357ABD !important;
  border-radius : 8px !important;
  font-weight: 600 !important;
  font-family: "Montserrat", sans-serif !important;
  /* padding:0px 16px; */
}
.pagination-container {
  margin-top: auto;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  position: sticky;
  left:0;
  bottom:0;
  background: linear-gradient(180deg, #357ABD, #357ABD);
}
.pagination-container .MuiPaginationItem-root {
  color: #fcfcfc;
}


.pagination-container .Mui-selected {
  background-color: #ffffff !important;
  color:#357ABD!important;
}

 .student-icon {
  margin-right: 8px;
  font-size: 20px;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }
  .sidebar.open {
    width: 200px;
  }
}

