.dashboard-main {
  margin-top: 64px;
  display: flex;
  flex: 1;
  overflow: hidden;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard-content {
  flex: 1;
  padding: 24px;
  min-width: 0;
}

.linechart-container {
  margin-top: 32px;
}

@media (max-width: 350px) {
  .dashboard-container {
    flex-direction: column;
  }
  .dashboard-content {
    margin-left: 0 !important;
  }
}

.sidebar-wrapper {
  flex-shrink: 0;
}
